header {
  border: 1px solid gray;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;

  & h1 {
    padding: 0.5rem;
  }

  & div {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    padding: 0.5rem;
  }
}

section {
  display: grid;
  place-content: center;
}
