/* buttons */

button {
  background: gray;
  border: none;
  border-radius: 99rem;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;

  display: grid;
  place-content: center;
}

.buttons {
  grid-area: buttons;
  padding-inline: var(--inline-padding);

  display: grid;
  gap: 14px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    'clear clear clear divide'
    'seven eight nine  multiply'
    'four  five  six   subtract'
    'one   two   three add'
    'zero  zero  dot   equals';
}

.clear {
  grid-area: clear;
  color: black;
}

.divide {
  grid-area: divide;
}

.num {
  background-color: var(--button-gray);
}

.zero {
  grid-area: zero;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-inline-start: calc(var(--inline-padding) + 6px);
}

.sign {
  background-color: var(--orange);
}
